#header
{
 position: fixed; top: 0px;
 width: 99%;
 background: #333333;
 padding: 3px;
}

#header .title
{
 font-size: x-large;
 position: relative; top: 3px; left: 5px;
 color: #ffffff;
}

#header .date
{
 position: absolute; top: 2px; right: 20px;
 font-size: 10pt;
 color: #ffffff;
}

#body
{
 position: absolute; top: 40px; bottom 10px; left: 2%;
 padding: 2px;
}

#footer
{
 background: #333333;
 position: fixed; bottom: 0px;
 width: 99%;
}

#footer .link
{
 color: #ffff00;
}

#footer .author
{
 color: #aaaaaa;
 position: absolute; right: 10px;
}

/* ---------------------------------
 * For the old one with the tables
#header
{
 background: #333333;
 display: block;
}

#body
{
 padding: 2px;
}

#footer
{
 background: #333333;
 position: absolute; bottom: 2px;
}
*/