
div.post {
	background: #fff url(bubble-left.png) left repeat-y;

}

div.post2 {
	background: url(bubble-right.png) right repeat-y;
}

div.post-contents {
	padding: 0 25px 0 25px;
	margin-right: 10px;
}

div.post-contents p {
	line-height: 140%;
	margin-top: 1em!important;
}

div.post-contents blockquote {
	color: #666;
	line-height: 150%;
}

div.post-contents:after {
	content: "";
	display: block;
	clear: both;
}

h4.post-title, div.post-title {
	background: url(bubble-top-left.png) top left no-repeat;
	margin: 1em 0 0 0;
}

h4.post-title a, div.post-title span {
	display: block;
	background: url(bubble-top-right.png) top right no-repeat;
	padding: 22px 25px 0 25px;
	font-weight: normal;
	font-size: 140%;
	text-decoration: none;
}

h4.post-title a:hover {
	text-decoration: underline;
}

div.post-title span {
	display: block;
	height: 20px;
	font-size: 100%;
}

div.post-title {
	display: block;
}

div.post-header {
	background: url(bubble-top.png) top repeat-x;
}


div.post-footer {
	background: url(bubble-bottom.png) bottom repeat-x;
}

div.post-footer p {
	background: url(bubble-bottom-left.png) bottom left no-repeat;
	margin: 0;
}

div.post-footer p a {
	display: block;
	background: url(bubble-bottom-right.png) bottom right no-repeat;
	padding: 15px 20px 20px 25px;
	text-align: right;
	font-size: 90%;
	color: #999;
	text-decoration: none;
}

div.post-footer p a:hover {
	color: inherit;
	text-decoration: underline;
}
